html {
    background-color: #434343;
    margin: 0px;
}

body {
    background-color: #434343;
    font-family: verdana;
    text-align: center;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #557cd1;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: 1px solid #161717;
}

a:hover img {
    border: 1px solid #557cd1;
}

.social_media_icons {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-image: url('../images/coffee-logos.png');
    background-repeat: none;
}

h3 {
    text-align: left;
    text-indent: 20px;
}

#no_script {
    width: 850px;
    background-color: #F14E4E;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding: 20px;
    color: #000000;
    font-size: large;
    font-weight: bold;
}

#top-title {
    width: 900px;
    height: auto;
    background-color: #000000;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    margin-top: 5px;
    padding: 10px;
    padding-bottom: 15px;
    color: #FFFFFF;
}

#badcamp1,
#badcamp2,
#badcamp3 {
    width: 900px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: center;
    margin: auto;
    background-color: #000000;
}

#top-title img {
    border: 0px;
    vertical-align: middle;
}

#intro {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
    font-weight: normal;
    text-align: justify;
    background-color: #141e33;
}

#dark-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 90;
}

#overlay-box {
    width: 600px;
    height: 340px;
    border: 3px solid #557cd1;
    position: absolute;
    background-color: #d3def3;
    margin-left: -300px;
    margin-right: -300px;
    left: 50%;
    top: 20%;
    z-index: 100;
    padding: 10px;
    font-size: small;
}

#group_players {
    width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #000000;
}

#group_players table {
    background-color: #000000;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#group-players td {
    border-width: 1px;
    border-color: #F9F04D;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#under_players {
    background-color: #000000;
    color: #FFFFFF;
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: medium;
    padding-bottom: 15px;
}

#low_quality_check {
    font-size: small;
    text-align: right;
    margin-right: 20px;
}

#control_buttons {
    margin: 0px;
    margin-top: -20px;
    padding-bottom: 6px;
}

#control_buttons input {
    width: 32px;
    height: 32px;
    border: 0px;
    background: url('../images/control-button.png') no-repeat;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 5px;
}

#ranking {
    font-size: small;
}

#social,
#social img {
    vertical-align: middle;
    font-size: small;
}

#social table {
    display: inline-block;
    vertical-align: middle;
}

#social td {
    text-align: left;
    margin: 0px;
    vertical-align: bottom;
}

#description_video {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: black;
}

#description_video table {
    background-color: #000000;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    padding: 0px;
    margin: auto;
    text-align: center;
}

#description_video td {
    border-width: 1px;
    border-color: #414650;
    border-style: solid;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: small;
    vertical-align: top;
}

.description_div {
    max-height: 350px;
    overflow: auto;
    word-wrap: break-word;
}

.description_thumb {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.description {
    text-align: left;
}

#content,
#tab_title,
.tab_content,
#formulaire {
    width: 900px;
    background-color: #000000;
    color: #FFFFFF;
    margin: auto;
    padding: 10px;
    font-size: medium;
    text-align: center;
}

#tab_title {
    font-size: x-large;
    font-variant: small-caps;
}

#tab_title div {
    display: inline;
}

.tab_title_design {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: 1px solid #414650;
}

#tab_browse_video td {
    word-wrap: break-word;
    max-width: 615px;
}

.type_images_icons {
    width: 80px;
    height: 60px;
    background-image: url('../images/type-images.png');
    background-repeat: none;
    margin: auto;
    padding: 0px 0px 0px 0px;
}

.filter_last:hover {
    background-color: #557cd1;
}

#formulaire_titre,
#other_groups_titre,
#comments_titre {
    color: #557cd1;
    font-size: x-large;
    font-variant: small-caps;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 15px;
}

#other_table td,
#random_table td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#formulaire_data,
#add_comment,
#post_comment_button {
    font-size: small;
}

#comments_table {
    width: 700px;
    font-size: small;
}

#comments_table td {
    padding: 8px;
    word-wrap: break-word;
    max-width: 684px;
    text-align: left;
}

#HB1,
#HB2,
#HB3,
#HB4 {
    background-image: url('../images/numbers.png');
    background-repeat: none;
    width: 13px;
    height: 12px;
    float: right;
}

#form_submit_preview,
#form_submit,
#forum_reset,
#form_clear,
#comment_submit {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #264c90), color-stop(1, #3A63BD));
    background: -moz-linear-gradient(center top, #264c90 5%, #3A63BD 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#264c90', endColorstr='#3A63BD');
    background-color: #264c90;
    border: 1px solid #3A63BD;
    display: inline-block;
    color: #dcdcdc;
    font-family: Verdana;
    font-size: 13px;
    font-weight: bold;
    height: 26px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

#form_submit_disabled {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #646972), color-stop(1, #7B828D));
    background: -moz-linear-gradient(center top, #646972 5%, #7B828D 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#646972', endColorstr='#7B828D');
    background-color: #646972;
    border: 1px solid #7B828D;
    display: inline-block;
    color: #dcdcdc;
    font-family: Verdana;
    font-size: 13px;
    font-weight: bold;
    height: 26px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

#form_submit_preview:hover,
#form_submit:hover,
#forum_reset:hover,
#form_clear:hover,
#comment_submit:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3A63BD), color-stop(1, #264c90));
    background: -moz-linear-gradient(center top, #3A63BD 5%, #264c90 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3A63BD', endColorstr='#264c90');
    background-color: #3A63BD;
}

#form_submit_disabled:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7B828D), color-stop(1, #646972));
    background: -moz-linear-gradient(center top, #7B828D 5%, #646972 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7B828D', endColorstr='#646972');
    background-color: #7B828D;
}

#form_submit_preview:active,
#form_submit:active,
#forum_reset:active,
#form_clear:active,
#comment_submit:active {
    position: relative;
    top: 1px;
}

.number {
    font-weight: bold;
    font-size: xx-large;
}

.content_text {
    text-align: left;
    padding-left: 15px;
}

.nsfw {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    color: #d27979;
    font-size: small;
    border: 1px solid #d27979;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.hot {
    color: #ffab65;
    vertical-align: middle;
}

.pagination {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 24px;
    margin-right: 2px;
    margin-left: 2px;
    border: 1px solid #557cd1;
    text-decoration: none;
    color: #FFFFFF;
}

#pagination_paragraphe a:hover {
    text-decoration: none;
    background-color: #3a4b71;
    color: #FFFFFF;
}

.pagination_disabled {
    border-color: #111111;
}

.pagination_current {
    border-color: #3a4b71;
    background-color: #3a4b71;
    color: #FFFFFF;
    font-weight: bold;
}

#footer {
    width: 900px;
    height: auto;
    background-color: #000000;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    margin-bottom: 5px;
    padding: 10px;
    color: #FFFFFF;
    font-size: xx-small;
}